{{> head }}


    
    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>About</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis hic voluptates dolorem, at deserunt nostrum quia quas ullam, enim tenetur temporibus dolor quae? Esse, necessitatibus cumque. Neque placeat beatae repudiandae!
            </p>
        </div>
        <div class="col-4">
            <img src="assets/img/download.png" alt="" class="img-thumbnail">
        </div>
    </div>

    {{> footer }}